<div class="content">
	<div class="wrapper">
		<div class="centered">
			<div style="margin: 0 auto">
				<div class="col-md-4 box">
					<div class="card card-inverse webdev" routerLink="/web">
						<div class="card-block">
							<h4 class="card-title ">Web Development</h4>
						</div>
					</div>
				</div>
				<div class="col-md-4 box">
					<div class="card card-inverse cooking" routerLink="/cooking">
						<div class="card-block">
							<h4 class="card-title ">Gotowanie</h4>
						</div>
					</div>
				</div>
				<div class="col-md-4 box">
					<div class="card card-inverse music" routerLink="/music">
						<div class="card-block">
							<h4 class="card-title ">Muzyka</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>