
.content{
  /*background-position: center;
  background-size: contain;*/
  background-color: rgba(0, 0, 0, 0.62);
  width: 100%;
  height: 100vh;
  .wrapper{
    position: absolute;
    top: 50%;
    margin-top: -300px;/* half of #content height*/
    left: 0;
    width: 100%;
    .centered{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      .box{
        height: 500px;
        .box-margin{
          transition: 300ms;
          margin: 40px;
          background-color: lightgray;
          height: 100%;
          &:hover{
            transform: scale(1.1);
          }
        }
      }
      .greeting {
        color: whitesmoke;
        font-size: 26px;
        margin-bottom: 3vh;
      }
      .describing {
        color: whitesmoke;
        font-size: 16px;
        margin-top: 3vh;
      }
      .img-circle {
        width: 300px;
        height: 300px;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        background: url(./assets/img/face.jpg) no-repeat;
        background-position-y: 40%;
        box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      }
    }
  }
}