.row {
    color: whitesmoke;
}
.image {
    float: center;
    max-height: 40vh;
}
.carousel {
    background-color: none;
}
.project-detail {
    padding: 15px;
}
.details {
    background-color: rgba(0,0,0,0.6);
    .tech {
        span>img {
            height: 3em;
        }
    }
}
