
.img-thumbnail {
  background-color: rgba(0, 0, 0, .2);
  border-color: rgba(0, 0, 0, .2);
  
  }
.selected {
    background-color:yellow !important;
  }
.projects {
  h1 {
    color: whitesmoke;
    text-shadow: 2px 3px black;
  }
}
 